<ul class="sidebar-menu">
    {% for item in menu %}
        <li class="active"><a href="{{ item.url }}"><i class="fa fa-link"></i> <span>{{ item.label|capitalize }}</span></a></li>
    {% endfor %}
</ul>