<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Choose target entity</h3>
    </div>
    <table class="table table-bordered">
        {% for entity in selected %}
            <tr>
                <td><input type="radio" name="target" value="{{ entity.id }}"{% if target is not empty and entity.id == target.id %} checked="checked"{% endif %} /></td>
                <td>{{ entity.username }}</td>
            </tr>
        {% endfor %}
    </table>
</div>