<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Change data</h3>
    </div>
    <table class="table table-bordered">
        {% if target is not empty %}
            <tr>
                <td>id</td>
                <td>{{ target.id }}</td>
            </tr>
            <tr>
                <td>username</td>
                <td>{{ target.username }}</td>
            </tr>
        {% endif %}
    </table>
</div>